:root { 
    /* --primary-background: #355C7D;  */
    --primary-background-path: "../assets/david-van-dijk-3LTht2nxd34-unsplash.jpg";
    --primary-background: url("../assets/david-van-dijk-3LTht2nxd34-unsplash.jpg");
    
}