:root { 
    --primary-background: #355C7D; 
    --primary-background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  
    --primary-background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
}