#side-panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 320px;
    background-color: rgb(25, 70, 50);
    color: white;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 1000;
    transition: left 0.3s ease;
}
#side-panel.hidden {
    left: -250px;
}
#side-panel a {
    color: inherit;
    text-decoration: none;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.top-bar img {
    height: 30px; 
    width: auto;
}
.top-bar button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.panel-operations {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 60px;
}
.panel-operations .item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 10px;
    background-color: rgb(15, 50, 35);
    border-radius: 5px;
    padding: 15px;
    transition: background-color 0.2s;
}
.panel-operations .item:hover {
    background-color: inherit;
}
.chat-history {
    display: flex;
    flex-direction: column;
    color: white;
   
}
.menu-item {
    font-size: larger;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 7px;
    padding-right: 7px;
    
    display: block;
    transition: background-color 0.2s;
}
.menu-item:hover {
    background-color: rgb(15, 50, 35);
}