<div id="side-panel">
    
    <div class="top-bar">
        <img src="" alt="Logo">
        <button>
             <img src="../assets/icons/collapse-left2.svg" alt="">
        </button>
    </div>

    <aside class="panel-operations">
        <div class="item">
            <img src="../assets/icons/edit.svg" alt="">
            <a href="#"> New chat</a>
        </div>
        <div class="item">
            <img src="../assets/icons/search.svg" alt="">
            <a href="#"> Search chats</a>
        </div>
    </aside>

    <h2>Chats</h2>
    <div class="chat-history">
        <a class="menu-item">Chat 1</a>
        <a class="menu-item">Chat 2</a>
        <a class="menu-item">Chat 3</a>
    </div>
</div>