body {

    font-family: Arial, sans-serif;
}


.about-section {
    padding: 20px 50px;
    padding-bottom: 150px;
    margin-top: 25px;
}

.about-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.text-block h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.text-block p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 500px;
}



.about-section img,
.mission-section img {
    width: 100%;
    max-width: 480px;     
    height: auto;           
    
    max-height: 320px;      
    object-fit: cover;      
    border-radius: 25px;    
    display: block;
}

.mission-section {
    padding-bottom: 50px;
}

.mission-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.mission-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.mission-text p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 600px;
}

#section-img2 {
    padding-left:50px ;
}



@media (max-width: 900px) {
    .about-section img,
    .mission-section img {
        max-width: 100%;
        max-height: 260px;  
    }
}
