@import "./themes/variables.css";
@import "../css/components/nav.css";
@import "../css/components/side-panel.css";

body { 
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    
    background-image: var(--primary-background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;   

}

aside#sidebar {
    width: 320px;                    
    flex-shrink: 0;
    height: 100vh;
    background: rgb(25, 70, 50);     
  
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0; 
}



